.cloud-1 {
  transform: scale(0.6);
  top: 100px;
  animation: little-cloud 22s linear infinite;
  animation-delay: 3s;
}

.cloud-2 {
  transform: scale(0.4);
  top: 50px;
  animation: little-cloud 19s linear infinite;
  animation-delay: 2s;
}

.cloud-3 {
  transform: scale(0.5);
  top: 150px;
  animation: little-cloud 17s linear infinite;
}

.cloud-4 {
  transform: scale(0.8);
  top: 250px;
  animation: little-cloud 25s linear infinite;
  animation-delay: 6s;
}

.cloud {
  left: -20%;
  opacity: 0.7;
}

.wheel {
  animation: wheel 1s linear infinite;
  animation-direction: reverse;
}

.wheel-joint-1 {
  animation: wheel-1 1s linear infinite;
  left: 23px;
  animation-direction: reverse;
}

.wheel-joint-2 {
  animation: wheel-2 1s linear infinite;
  left: 60px;
  animation-direction: reverse;
}

.train {
  animation: train 10s linear infinite;
}

.smoke {
  animation: smoke 0.4s linear infinite;
  top: -1.2rem;
  transform: scale(0.8);
}

.smoke-2 {
  animation-delay: 0.1s;
}

.smoke-3 {
  animation-delay: 0.3s;
}

.smoke-4 {
  animation-delay: 0.5s;
}

.smoke-5 {
  animation-delay: 0.7s;
}

.moon {
  animation: moon 50s linear infinite;
}

.canvas {
  animation: canvas 30s linear infinite;
  background-size: 300% 300%;
}

@keyframes canvas {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 0% 150%;
  }
  100% {
    background-position: 0% 200%;
  }
}

@keyframes moon {
  0% {
    top: 80%;
    left: -20%;
  }
  50% {
    top: 100px;
    left: calc(50% - 60px);
    transform: scale(1.4);
    box-shadow: 0 1px 80px 0 rgba(255, 255, 255, 1);
  }
  100% {
    top: 80%;
    left: 120%;
  }
}

@keyframes smoke {
  0% {
    top: -1.2rem;
    left: 0.2rem;
    opacity: 0.8;
  }
  20% {
    top: -3.2rem;
    left: 0.4rem;
  }

  100% {
    top: -5.5rem;
    left: 4.2rem;
    opacity: 0;
  }
}

@keyframes train {
  0% {
    right: -50%;
  }
  100% {
    right: 120%;
  }
}

@keyframes little-cloud {
  0% {
    left: -20%;
  }
  100% {
    left: 120%;
  }
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes wheel-1 {
  from {
    transform: rotate(0turn) translateY(-0.6rem) rotate(1turn);
  }
  to {
    transform: rotate(1turn) translateY(-0.6rem) rotate(0turn);
  }
}

@keyframes wheel-2 {
  from {
    transform: rotate(0turn) translateY(-0.6rem) rotateZ(-10deg) rotate(1turn);
  }
  to {
    transform: rotate(1turn) translateY(-0.6rem) rotateZ(-10deg) rotate(0turn);
  }
}
